@page "/"
@page "/Games/{CategoryId:int}"
@inherits GameViewModel

@if(Games == null)
{
    <h3>Ładowanie gier...</h3>
}
else
{
    <h3 class="mb5">@GameCategory</h3>

    <div class="row mt-3">
        <DisplayGames @ref="dg"></DisplayGames>
    </div>
}
