@model ProductsModel

<section class="space-sm flush-with-above">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <p>Club Categories</p>
                <div class="mb-3">
                    <a type="button" class="btn btn-secondary mb-1" asp-action="Index" asp-route-page="1" asp-route-category="-1">All</a>
@*                     @foreach (var category in Html.GetEnumSelectList<ClubCategory>())
                    {
                        <a type="button" class="btn btn-secondary mb-1" asp-action="Index" asp-route-page="1" asp-route-category="@category.Value">@category.Text</a>
                    } *@
                </div>
            </div>
        </div>
    </div>
</section>